/* footer */
#footer{
    padding: 0 0 30px 0px;
    color: white;
    font-size: 14px;
    background-color: rgb(18, 163, 18);
    margin-top: 50px;
  }
  #footer .footer-top{
    padding: 60px 0 30px 0;
    background-color: rgb(13, 129, 18);
    color: white;
  }
  #footer .footer-top .footer-contact{
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-contact h3{
    color: #ffc800;
  }
  #footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  #footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    
    margin-bottom: 0;
    color: white;
  }
  #footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links{
    margin-bottom: 30px;
    margin-top: 10px;
  }
  #footer .footer-top .footer-links h4{
    color: #ffc800;
  }
  #footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    transition: 0.5s ease;
  }
  #footer .footer-top .footer-links ul li a:hover{
    color: #ffc800;
  }
  #footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #373737;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
  }
  #footer .footer-top .socail-links a:hover{
    background-color: #ffc800;
    color: white;
  }
  #footer .copyright{
    
  
    float: right;
  }
  
  /* footer */
  
  